@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
$orange: #E44716;
$dark: #252222;
$white: #ffffff;

body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	color: $dark;
	font-family: 'Inter', sans-serif;
	line-height: 1.3;
}
html {
	height: 100%;
}
ul{
	padding: 0;
	margin: 0;
	li{
		list-style: none;
	}
}
.container{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex-shrink: 0;
}
.global-title{
	font-family: 'Poiret One', sans-serif;
	color: $orange;
	font-family: Poiret One;
	font-size: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	&__img{
		margin-right: 30px;
	}
}
.btn{
	max-width: 250px;
	width: 100%;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #252222;
	border: 1px solid $orange;
	border-radius: 15px;
	transition: all .3s;
	&-img{
		margin-right: 10px;
		svg{
			path{
				transition: all .3s;
			}
		}
	}
	&:hover{
		background: $orange;
		color: $white;
		.btn-img{
			svg{
				path{
					stroke: $white;
				}
			}
		}
	}
}

