@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
$orange: #E44716;
$dark: #252222;
$white: #ffffff;


*::-webkit-scrollbar {
	width: 0;               /* ширина всей полосы прокрутки */
  }
  
*::-webkit-scrollbar-track {
	background: transparent;        /* цвет зоны отслеживания */
  }
  
*::-webkit-scrollbar-thumb {
	background-color: transparent;    /* цвет бегунка */
	border-radius: 20px;       /* округлось бегунка */  /* отступ вокруг бегунка */
  }

body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	color: $dark;
	font-family: 'Inter', sans-serif;
	line-height: 1.3;
}
html {
	height: 100%;
}
ul{
	padding: 0;
	margin: 0;
	li{
		list-style: none;
	}
}
.container{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex-shrink: 0;
}
.global-title{
	font-family: 'Poiret One', sans-serif;
	color: $orange;
	font-family: Poiret One;
	font-size: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	&__img{
		margin-right: 30px;
		display: flex;
	}
}
.top-title{
	text-align: center;
    color: #e44716;
    font-family: Poiret One;
    display: flex;
    flex-flow: row wrap;
    font-size: 36px;
    align-items: center;
    justify-content: start;
    padding: 65px 0 25px;
	&__img{
		display: flex;
		margin-right: 6px;
		svg{
			width: 35px;
			height: 35px;
		}
	}
}
.btn{
	max-width: 250px;
	width: 100%;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #252222;
	border: 1px solid $orange;
	border-radius: 15px;
	transition: all .3s;
	&-img{
		margin-right: 10px;
		svg{
			path{
				transition: all .3s;
			}
		}
	}
	&:hover{
		background: $orange;
		color: $white;
		.btn-img{
			svg{
				path{
					stroke: $white;
				}
			}
		}
	}
}
.wrapper{
	display: flex;
	flex-flow: row wrap;
	margin-top: -30px;
	height: calc(100vh - 190px);
	overflow: hidden;
	&-left{
		flex: 0 0 30%;
		max-width: 30%;
		padding: 25px 10px 25px 15px;
		height: 100%;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 12px;
			width: 8px;
			height: 100%;
			background: #25222234;
		}
		&-burger{
			display: none;
			svg{
				rect{
					fill: $dark;
				}
			}
			@media screen and (max-width: 991px) {
				display: block;
			}
		}
		&-list{
			overflow-y: scroll;
			height: 100%;
			padding-right: 5px;
		}
		&__category{
			display: flex;
    		align-items: center;
			flex-flow: column wrap;
			transition: all .3s;
			cursor: pointer;

			&-item{
				margin-bottom: 20px;
				width: 100%;
				&:last-child{
					margin-bottom: 0;
				}
			}
			&-img{		
				position: relative;
				img{
					width: 100%;
					height: 100px;
					object-fit: cover;
					border-radius: 12px;
				}
				&::before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 12px;
					background: linear-gradient(180.00deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.89) 86.667%);
				}
			}
			&-text{
				position: absolute;
				font-family: Poiret One;
				font-size: 25px;
				color: $white;
				bottom: 5px;
				left: 50%;
				transform: translateX(-50%);
			}
			
		}
		&__item{
			cursor: pointer;
			&:last-child{
				padding-top: 25px;
			}
			padding-bottom: 10px;
			&:last-child{
				padding-bottom: 0;
			}
		}
		&__title{
			display: flex;
			color: $red;
			align-items: center;
			&-text{
				margin-right: 15px;
			}
			&-arrow{
				display: flex;
			}
		}
		&__description{
			font-size: 18px;
			padding-left: 15px;
			height: 0;
			overflow: hidden;
			opacity: 0;
			
			p{
				transition: all .3s;
				&:hover{
					color: $red;
				}
			}
			&--open{
				height: fit-content;
				opacity: 1;
				
			}
			p{
				margin: 0 0 5px 0;
				&:last-child{
					margin: 0;
				}
			}
		}
	}
	&-right{
		flex: 0 0 20%;
		max-width: 20%;		
		padding: 25px 10px 25px 15px;
		height: 100%;
		position: relative;
		&--mobile{
			display: none;
			@media screen and (max-width: 991px) {
				display: block;
			}
		}
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: -30px;
			border-radius: 12px;
			width: 8px;
			height: 100%;
			background: #25222234;
		}
		&-burger{
			display: none;
			@media screen and (max-width: 991px) {
				display: block;
			}
		}
		&-list{
			overflow-y: scroll;
			height: 100%;
			padding-right: 5px;
		}
		&-serching{
			max-width: 45%;
			margin-left: auto;
			position: relative;
		}
		&-serch{
			position: relative;
			@media screen and (max-width: 991px) {
				display: none
			}
			input{
				border-radius: 12px;
				padding: 8px 10px 8px 40px;
    			font-size: 18px;
				width: 100%;
				background: none;
				border: 1px solid $orange;
				color: $dark;
			}
			img{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 10px;
			}
			&--mobile{
				display: none;
				@media screen and (max-width: 991px) {
					position: absolute;
					display: block;
					width: 100%;
					box-sizing: border-box;
					border: 2px solid rgba(37, 34, 34, 0.05);
					border-radius: 10px;
					background: rgba(66, 61, 61, 0.04);
					z-index: 999;
					padding: 50px;
				}
			}
		}
		&-contacts{
			padding-top: 30px;
			
			&__wrap{
				display: flex;
				align-items: center;
				margin-bottom: 15px;
				
				&:hover{
					.wrapper-right-contacts__wrap-text{
						color: $orange;
					}
				}
				&:last-child{
					margin-bottom: 0;
				}
				&-img{
					display: flex;
					flex: 0 0 20px;
					img{
						width: 20px;
						height: 20px;
					}
				}
				&-text{
					margin-left: 10px;
					font-size: 16px;
					word-break: break-word;
					color: $dark;
					transition: all .3s;
					cursor: pointer;
				}
			}
		}
	}
	&-center{
		flex: 0 0 50%;
		max-width: 50%;
		overflow-y: scroll;
		height: 100%;
		border-left: 4px solid rgba(217,217,217,.1);
		border-right: 4px solid rgba(217,217,217,.1);
		&--big{
			flex: 0 0 80%;
			max-width: 80%;
			border-right: none;
		}
		&--prod{
			flex: 0 0 70%;
			max-width: 70%;
			border-right: none;
		}
	}
}
/*  burger  */
.burger-wrap {
    display: none;
    width: 36px;
    height: 27px;
    position: relative;
}

.burger {
    height: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: all .3s;
	border-radius: 20px;
}

.burger::before,
.burger::after {
    content: '';
    width: 100%;
    height: 5px;
    display: block;
    background-color: rgb(255, 255, 255);
    transition: all .3s;
    position: absolute;
    left: 0;
	border-radius: 20px;
}

.burger::before {
    top: 0;
}

.burger:after {
    bottom: 0;
}

/* burger */
@media screen and (max-width: 991px) {
	.top-title__img, .top-title__text{
		display: none;
	}
	.wrapper{
		padding: 20px 20px 10px 0px !important;
		margin-top: 57px;
		height: calc(100vh - 181px) !important;
	}
	.wrapper-right-serch--mobile {
		top: 95px !important;
		position: absolute;
		padding: 15px !important;
		max-width: 95%;
		z-index: 99 !important;
	}
	.dishes-list-sets__char{
		order: 0 !important;
	}
	.wrapper-left__category-item{
		width: 100%;
		.wrapper-left__category-img{
			img{
				height: 50px;
				width: 100%;
				object-fit: cover;
				border-radius: 12px;
			}
		}
	}
	.wrapper-left-list{
		height: 69%;
	}
	.wrapper-right-contacts__wrap-text{
		color: $white;
	}
}
@media screen and (max-width: 767px) {

    .burger-wrap {
		display: flex;
		align-items: center;
		position: absolute;
		z-index: 3;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
    }
	.header-wrap__links {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
    .burger--close {
        max-width: 0;
        overflow: hidden;
    }

    .burger--close::before {
        transform: translateY(-1px) rotate(45deg);
    }

    .burger--close::after {
        transform: translateY(3px) rotate(-45deg);
    }

    .burger--close::after,
    .burger--close::before {
        transform-origin: 0;
    }

    .header-wrap__navigation {
        position: absolute;
        top: 58px;
        width: 100%;
		border-radius: 0 0 0 21px;
		right: 0;
        background: #252222;
        z-index: 3;
        padding: 0;
        opacity: 0;
        display: flex;
        max-height: 0;
        overflow: hidden;
        transition: all .3s;
        margin: 0 auto;
        justify-content: start;
    	align-items: start;
		flex-flow: column wrap;
		max-width: 200px
    }

    .header-wrap__navigation li {
        display: block;
        margin-right: 0;
        padding-right: 0;
        font-size: 20px;
    }

    .header-wrap__navigation li a {
        display: block;
        padding: 10px 0;
        border: none;
        text-align: center;
        color: block;
    }

    .header-wrap__navigation--open {
		max-height: 500px;
		opacity: 1;
		padding: 15px;
		transform: translate(0);
		margin: 0;
    }
	
}