.dishes-list{
	padding: 20px ;
    height: 100%;
	&__category{
		display: flex;
    	align-items: center;
		padding-bottom: 20px;
		&-img{
			margin-right:10px;
			display: flex;
		}
		&-title{
			font-size: 40px;
			font-weight: 300;
			color: $orange;
		}
	}
	&__item{
		display: flex;
		flex-flow: row wrap;
		border-bottom: 2px solid rgba(217,217,217,.1);
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	&__text{
		flex: 1 0;
		padding-left: 20px;
		&-title{
			color: $orange;
			padding-bottom: 10px;
		}
		&-description{
			font-size: 16px;
			color: $dark;
		}
	}
	&__img{
		flex: 0 0 130px;
		height: fit-content;
		position: relative;
		&::before{
			content: "";
			position: absolute;
			bottom: -5px;
			left: -5px;
			border: 1px solid #e44716;
			border-radius: 12px;
			width: 100%;
			height: 95%;
			z-index: -1;
		}
		img{
			border-radius: 12px;
			width: 100%;
			height: 125px;
			object-fit: cover;
		}
	}
	&-sets{
		display: flex;
		align-items: center;
		&__char{
			display: flex;
			padding: 15px 0 15px 0;
			order: 2;
			&-wrap{
				margin-right: 15px;
				font-size: 16px;
				display: flex;
				align-items: center;
			}
			&-img{
				margin-right: 5px;
			}
		}
		&__buy{
			background: rgba(0,0,0,0);
			display: flex;
			align-items: end;
			border: 1px solid #e83126;
			padding: 9px 20px;
			border-radius: 12px;
			font-size: 15px;
			color: $dark;
			cursor: pointer;
			transition: all .3s;
			margin-right: 15px;
			&:hover{
				background-color: #e83126;
				color: $white;
			}
			img{
				width: 19px;
    			margin-right: 10px;
			}
		}
		&--mobile{
			display: none;
		}
		&--product{
			.dishes-list-sets__char{
				flex-flow: column wrap;
			}
			.dishes-list-sets__char-wrap{
				&:first-child{
					margin-bottom: 15px;
				}
			}
			.dishes-list-sets__buy{
				margin-top: 25px;
				padding: 8px 15px;
			}
		}
	}
}

.product{
	&-wrap{
		display: flex;
		flex-flow: row wrap;
		&-img{
			flex: 0 0 345px;
			img{
				border-radius: 32px;
			}
		}
		&-text{
			flex: 1 0;
			padding-left: 45px;
			&__title-wrap{
				display: flex;
				align-items: center;
				font-size: 30px;
			}
			&__title-img{
				display: flex;
			}
			&__title-text{
				padding-left: 10px;
			}
			&__description{
				font-size: 18px;
				line-height: 28px;
				padding: 20px 0 13px 0;
			}
			&__stars{
				display: flex;
			}
			&__star{
				margin-right: 5px;
				cursor: pointer;
				&:hover{
					svg{
						fill:#F5C51E;
					}
				}
			}
		}
	}
	&-more{
		&__main-title{
			font-size: 40px;
			font-weight: 300;
			padding: 45px 0;
		}
		&-wrapper{
			display: flex;
			flex-flow: row wrap;
			&__wrap{
				flex: 0 0 33.333%;
				max-width: 33.333%;
				padding: 0 30px;
				margin-bottom: 20px;
			}
			&__img{
				img{
					border-radius: 20px;
				}
			}
			&__title{
				color: #E83126;
				font-size: 26px;
				padding: 15px 0 10px 0;
			}
			&__description{
				font-size: 16px;
				padding-bottom: 5px;
				color: $white;
			}
		}
	}
}

@media screen and (max-width: 1450px) {
	.top-title {
		font-size: 45px;
		padding: 70px 0 40px 0;
	}
	.wrapper {
		height: calc(100vh - 150px);
	}
	.dishes-list__category-title {
		font-size: 30px;
	}
	.dishes-list__category-img svg{
		width: 30px;
		height: 30px;
	}
	.dishes-list__category {
		padding-bottom: 15px;
	}
}
@media screen and (max-width: 1367px) {
	.top-title {
		font-size: 35px;
		padding: 65px 0 40px 0;
	}
	.wrapper {
		height: calc(100vh - 130px);
	}
	.dishes-list-sets__char {
		display: flex;
		padding: 10px 0;
	}
	.dishes-list-sets__buy {
		padding: 7px 10px;
		font-size: 14px;
	}
	.dishes-list-sets__buy img {
		width: 16px;
		margin-right: 7px;
	}
	
}
@media screen and (max-width: 1199px) {
	.wrapper-left__category-text {
		font-size: 22px;
	}
	.wrapper-left__category-img svg {
		width: 20px;
		height: 20px;
	}
	.wrapper-left__item:last-child {
		padding-top: 15px;
	}
	.wrapper-right-contacts__wrap-img img {
		width: 18px;
		height: 18px;
	}
	.wrapper-right-contacts__wrap-text {
		margin-left: 5px;
		font-size: 14px;
	}
	.wrapper-right-serch img {
		left: 13px;
		width: 18px;
	}
	.wrapper-right-serch input {
		padding: 6px 10px 6px 37px;
		font-size: 16px;
		
	}
	.wrapper-right-contacts {
		padding-top: 20px;
	}
	.dishes-list-sets{
		display: flex;
		align-items: center;
		padding-top: 5px;
		flex-flow: row-reverse;
		justify-content: start;
		&--mobile{
			display: none;
		}
	}
	.dishes-list__img {
		flex: 0 0 90px;
	}
	.dishes-list-sets__buy {
		margin-right: 20px;
	}
	.dishes-list-sets--product {
		display: block;
		.dishes-list-sets__buy{
			margin: 15px 0 0 0;
		}
	}
	.dishes-list-sets--more {
		display: block;
		.dishes-list-sets__buy{
			margin: 10px 0 0 0;
		}
	}
	.product-more__main-title {
		font-size: 38px;
		font-weight: 300;
		padding: 30px 0;
	}
	.product-wrap-text__title-wrap {
		font-size: 26px;
	}
	.product-wrap-text__title-img svg{
		width: 32px;
    	height: 32px;
	}
	.product-wrap-text__description {
		font-size: 16px;
		line-height: 24px;
	}
	.product-wrap-text {
		padding-left: 30px;
	}
	.product-wrap-text__description{
		padding: 10px 0;
	}
	.product-more-wrapper__wrap {
		padding: 0 15px;
		margin-bottom: 20px;
	}
	.product-more-wrapper__title {
		font-size: 22px;
		padding: 10px 0 5px 0;
	}
	.product-more-wrapper__description{
		padding: 10px 0 0 0;
	}
}
@media screen and (max-width: 991px) {
	.wrapper-left-burger{
		position: absolute;
		left: 30px;
		top: 22px;
		z-index: -1;
		&--open{
			z-index: 2;
			svg{
				transition: all .3s;
				rect{
					fill: $orange;
				}
			}
		}
	}
	.wrapper-right-serch--mobile {
		position: fixed;
		top: 20px;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
	}
	.wrapper-right-burger {
		position: fixed;
		right: 30px;
		top: 20px;
		z-index: -1;
		&--open{
			z-index: 2;
			svg{
				transition: all .3s;
				rect{
					fill: $red;
				}
			}
		}
	}
	.wrapper-right {
		max-width: 280px;
		padding: 25px 10px 25px 15px;
		width: 100%;
		position: absolute;
		right: -280px;
		top: 0;
		transition: all .3s;
		border: 2px solid #ffffff6b;
		&--open{
			background: #1a1818;
			right: 0;
			border-radius: 32px;
			z-index: 1;
		}
	}
	.wrapper-left {
		max-width: 280px;
		padding: 60px 25px 25px 25px;
		position: absolute;
		width: 100%;
		max-width: 280px;
		left: -280px;
		top: 0;
		border: 2px solid #ffffff6b;
		transition: all .3s;
		&--open{
			width: 100%;
			left: 0;
			background: #1a1818;
			border-radius: 32px;
			z-index: 1;
			max-width: 100%;
		}
	}
	.wrapper-center {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0;
		overflow-y: scroll;
		height: 100%;
		border: none;
	}
	.wrapper{
		position: relative;
		padding: 70px 0 20px 0;
	}
	.dishes-list {
		padding: 0 40px;
		height: 100%;
	}
	.wrapper-right-contacts {
		padding-top: 0;
	}
	.product-wrap-img {
		flex: 0 0 300px;
	}
	.product-more-wrapper__description {
		padding: 0;
	}
	.product-more__main-title {
		font-size: 34px;
	}
	.wrapper-right-serch--end{
		right: 30px;
		transform: unset;
	}
}
@media screen and (max-width: 767px) {
	.top-title {
		font-size: 28px;
	}
	.dishes-list-sets {
		flex: 0 0 100%;
	}
	.dishes-list-sets__buy {
		margin-right: 10px;
	}
	.dishes-list-sets__buy {
		padding: 7px 7px;
		font-size: 12px;
		img{
			width: 14px;
			margin-right: 4px;
		}
	}
	.dishes-list-sets__char-wrap {
		margin-right: 14px;
		font-size: 14px;
		display: flex;
		align-items: center;
	}
	.dishes-list-sets__char-img img{
		width: 18px;
	}
	.dishes-list {
		padding: 0 25px;
	}
	.wrapper-left-burger {
		left: 20px;
		top: 18px;
	}
	.wrapper-right-burger{
		right: 20px;
		top: 18px;
	}
	.wrapper-right-serch--mobile {
		top: 15px;
		position: absolute;
	}
	.wrapper {
		padding: 60px 0 20px 0;
	}
	.dishes-list__category-title {
		font-size: 26px;
	}
	.dishes-list__category-img svg {
		width: 26px;
		height: 26px;
	}
	.dishes-list__category {
		padding-bottom: 10px;
	}
	.dishes-list__img {
		flex: 0 0 70px;
		img{
			border-radius: 16px;
		}
	}
	.wrapper-right-serch--end {
		right: 20px;
		transform: unset;
	}
	.product-wrap-img {
		flex: 0 0 120px;
	}
	.product-wrap-text__title-wrap {
		font-size: 24px;
	}
	.product-wrap-text__title-img svg {
		width: 28px;
		height: 28px;
	}
	.product-wrap-img img {
		border-radius: 22px;
	}
	.dishes-list-sets--product{
		.dishes-list-sets__char{
			flex-flow: row wrap;
		}
	}
	.dishes-list-sets--product .dishes-list-sets__char-wrap:first-child {
		margin-bottom: 0;
	}
	.product-more-wrapper__wrap {
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 479px) {
	.main .container{
		padding: 0 5px;
	}
	.wrapper {
		border: 2px solid var(--777, rgba(255, 255, 255, 0.1));
	}
	.dishes-list__text-title {
		padding-bottom: 5px;
		font-size: 17px;
		font-weight: 600;
	}
	.dishes-list__text-description {
		font-size: 14px;
	}
	.dishes-list-sets--mobile {
		display: flex;
		flex: 0 0 100%;
		justify-content: space-between;
		flex-flow: row wrap;
	}
	.dishes-list-sets__char-wrap {
		margin-right: 15px;
		font-size: 15px;
		display: flex;
		align-items: center;
	}
	.dishes-list-sets__buy {
		margin-right: 0;
		padding: 7px 10px;
    	font-size: 14px;
		img{
			width: 16px;
    		margin-right: 7px;
		}
	}
	.dishes-list {
		padding: 0px 15px;
	}
	.dishes-list-sets__char {
		padding: 0;
	}
	.dishes-list-sets {
		flex-flow: row wrap;
	}
	.dishes-list-sets__buy{
		margin: 7px 0 0 0;
	}
	.product-wrap-img {
		flex: 0 0 88px;
	}
	.product-wrap-text {
		padding-left: 15px;
	}
	.product-wrap-text__title-text {
		font-size: 20px;
	}
	.product-wrap-text__title-img svg {
		width: 22px;
		height: 22px;
	}
	.product-wrap-text__description {
		font-size: 14px;
		line-height: 22px;
	}
	.product-wrap-text__stars {
		padding-bottom: 5px;
	}
	.product-more-wrapper__wrap {
		padding: 0 10px;	
	}
	.product-more-wrapper__title {
		font-size: 18px;
	}
	.product-more-wrapper__description {
		font-size: 14px;
	}
	.dishes-list-sets--more{
		.dishes-list-sets__char{
			flex-flow: column wrap;
			.dishes-list-sets__char-wrap{
				&:first-child{
					margin-bottom: 5px;
				}
			}
		}
	}
	.product-more-wrapper__title {
		font-size: 18px;
	}
	
}