.firstScreen{
	background: url(/andriilizvinskyilight/img/bg.png);
	background-size: cover;
	background-position: center;
}

//HEADER

.header{
	background: $dark;
	padding: 15px 0;
	position: fixed;
	width: 100%;
	z-index: 999;
	&-wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__navigation{
			display: flex;
			&:last-child{
				margin-right: 0;
			}
			li{
				margin-right: 80px;
				&:last-child{
					margin-right: 0;
				}
			}
			a{
				color: $white;
				transition: all .3s;
			}
		}
		&__links{
			display: flex;
			align-items: center;
			&-basket{
				border: 2px solid $orange;
				border-radius: 6px;
				padding: 8px;
				transition: all .3s;
				flex: 0 0 45px;
				&:hover{
					background: $orange;
				}
			}	
			&-call{
				flex: 0 0 145px;
				margin-left: 45px;
				.btn{
					height: 45px;
					border-radius: 10px;
					color: $white;
				}
			}
		}
	}

}

//WELCOME

.welcome{
	padding: 165px 0 100px;
	&__title{
		font-family: Poiret One;
		font-size: 80px;
		color: $orange;
		text-align: center;
	}
	&__description{
		font-size: 22px;
		padding: 35px 0 45px 0;
		text-align: center;
		max-width: 900px;
		margin: 0 auto;
	}
	&__btn{
		.btn{
			margin: 0 auto;
		}
	}
	&-dishes{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding-top: 75px;
		font-family: Poiret One;
		max-width: 900px;
		margin: 0 auto;
		&__wrap{
			transition: all .3s;
			&:hover{
				transform: scale(1.1);
			}
		}
		&__img{
			position: relative;
			img{
				border-radius: 12px;
			}
			&::before{
				content: '';
				width: 100%;
				height: 100%;
				border-radius: 12px;
				background: linear-gradient(180.00deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.89) 86.667%);
				top: 0;
				left: 0;
				position: absolute;
			}
		}
		&__text{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 25px;
			font-size: 20px;
			color: $white;
		}
	}
}

//FOOD

.food{
	&-title{
		padding: 100px 0 70px 0;
	}
	&-wrap{
		display: flex;
		flex-flow: row wrap;
		&__img{
			flex: 0 0 500px;
			position: relative;
			height: fit-content;
				&::before{
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					border: 3px solid rgb(228, 71, 22);
					border-radius: 12px;
					bottom: -15px;
					left: -15px;
					z-index: -1;
				}
			img{
				border-radius: 12px;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-text{
			flex: 1 0;
			padding-left: 100px;
			&__title{
				color: $orange;
				font-family: Poiret One;
				font-size: 36px;
				padding-bottom: 30px;
				span{
					display: block;
				}
			}
		}
	}
	&-category{
		max-width: 930px;
		margin: 0 auto;
	}
	&__btn{
		margin: 0 auto;
		padding-top: 50px;
		.btn{
			margin: 0 auto;
		}
	}
}

//RESTOURANT

.restaurant{
	&-wrap{
		display: flex;
		flex-flow: row wrap;
		&-text{
			flex: 1 0;
			padding-right: 80px;
			&__title{
				color: $orange;
				font-family: Poiret One;
				font-size: 36px;
				span{
					display: block;
				}
			}
			&__description{
				padding-top: 30px;
				p{
					margin: 0;
					padding-bottom: 10px;
					&:last-child{
						padding-bottom: 0;
					}
				}
			}
		}
		&-slider{
			flex: 0 0 500px;
			max-width: 500px;
			position: relative;
			height: fit-content;
			&::before{
				content: "";
				position: absolute;
				width: 100%;
				height: 90%;
				border: 3px solid #e44716;
				border-radius: 12px;
				bottom: 10px;
				right: -15px;
				z-index: -1;
			}
			&-init{
				&__img{
					img{
						border-radius: 12px;
					}
				}
				.slick-dots{
					bottom: -55px;

					.slick-active{
						button{
							&::before{
								background: $orange;
							}
						}
					}
				}
				.slick-dots li button:before {
					font-family: '';
					font-size: 0;
					line-height: 20px;
					position: absolute;
					border-radius: 20px;
					opacity: 1;
					top: 0;
					background: transparent;
					border: 1px solid $orange;
					left: 0;
					width: 20px;
					height: 20px;
					content: '•';
					text-align: center;
					transition: all .3s;
					
				}
			}
		}
	}
}

//ARTICLES

.articles-l{
	&-wrap{
		display: flex;
		flex-flow: row wrap;
	}
	&__column{
		&--first{
			flex: 0 0 40%;
			max-width: 40%;
		}
		&--second{
			flex: 0 0 60%;
			max-width: 60%;
			padding-left: 130px;
			.articles-l__item-img{
				&::before{
					left: 15px;
				}
			}
		}
	}
	&__item{
		margin-bottom: 40px;
		display: block;
		&-img{
			position: relative;
			transition: all .3s;
			&:hover{
				transform: scale(1.1);
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 12px;
			}
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				border: 3px solid #e44716;
				border-radius: 12px;
				bottom: -15px;
				left: -15px;
				z-index: -1;
			}
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 12px;
				background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.89) 86.667%);
			}
		}
		&-text{
			position: absolute;
			bottom: 10px;
			z-index: 1;
			left: 10px;
			font-weight: 400;
			font-size: 28px;
			font-family: Poiret One;
			color: $white;
		}
	}
	&__description{
		padding-top: 30px;
		color: $black;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -moz-box;
		-moz-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		line-clamp: 3;
		box-orient: vertical;
	}
}

//CONTACTS

.contacts-map{
	padding: 20px;
    border: 2px solid $orange;
    border-radius: 12px;
	iframe{
		height: 345px;
		width: 100%;
		border: none;
		border-radius: 12px;
	}
	&__icons{
		display: flex;
    	justify-content: space-between;
		padding-top: 40px;
	}
}

//FOOTER

.footer{
	padding: 40px 0 20px 0;
	&-wrap{
		display: flex;
    	flex-flow: row wrap;
    	align-items: center;
		&__item{
			&--links{
				flex: 0 0 40%;
				max-width: 40%;
				display: flex;
				justify-content: space-between;
				.footer-wrap__item-link{
					padding: 0 5px;
					p{
						margin: 0 0 5px 0;
						color: $orange;
						font-size: 26px;
						border-bottom: 1px solid $orange;
						padding-bottom: 3px;
						font-family: 'Poiret One', sans-serif;
					}
					a{
						display: block;
						padding-bottom: 3px;
						color: $black;
						font-size: 18px;
						transition: all .3s;
						&:hover{
							color: $orange;
						}
					}
				}
			}
			&--logo{
				flex: 0 0 20%;
				max-width: 20%;
				text-align: center;
			}
			&--socials{
				flex: 0 0 40%;
				max-width: 40%;
				display: flex;
				flex-flow: row wrap;
				align-content: end;
				a{
					margin-bottom: 5px;
					transition: all .3s;
					border-bottom: 1px solid transparent;
					padding-bottom: 1px;
					transition: all .3s;
					display: flex;
					align-items: center;
					color: $black;
					margin-right: 15px;
					&:hover{
						border-bottom: 1px solid $orange;
					}
					img{
						max-width: 26px;
						height: 26px;
					}
					span{
						font-size: 16px;
						margin-left: 10px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1199px) {
	.header {
		padding: 10px 0;
	}
	.header-wrap__links-call .btn {
		font-size: 16px;
	}
	.header-wrap__navigation a{
		font-size: 18px;
	}
	.header-wrap__links-call {
		flex: 0 0 93px;
		margin-left: 32px;
	}
	.welcome {
		padding: 135px 0 70px;
	}
	.welcome-dishes {
		padding-top: 55px;
	}
	.welcome__description {
		font-size: 20px;
	}
	.welcome-dishes__img img{
		max-width: 200px;
	}
	.welcome-dishes {
		max-width: 850px;
	}
	.welcome__title{
		font-size: 70px;
	}
	.food-title {
		padding: 70px 0 50px 0;
	}
	.global-title {
		font-size: 68px;
		&__img{
			svg{
				max-width: 60px;
			}	
		}
	}
	.food-wrap__img {
		flex: 0 0 460px;
		position: relative;
	}
	.food-wrap-text {
		flex: 1 0;
		padding-left: 50px;
	}
	.food-wrap-text__description, .restaurant-wrap-text__description{
		font-size: 18px;
	}
	.food-wrap-text__title, .restaurant-wrap-text__title{
		font-size: 32px;
	}
	.restaurant-wrap-slider{
		margin-right: 16px;
	}
	.food-wrap__img::before {
		bottom: -10px;
		left: -10px;
	}
	.restaurant-wrap-slider::before{
		bottom: 10px;
		right: -10px;
	}
	.articles-l__item-img::before {
		bottom: -10px;
		left: -10px;
	}
	.articles-l__item-text{
		font-size: 22px;
	}
	.articles-l__description {
		padding-top: 30px;
		color: $black;
		font-size: 18px;
	}
	.articles-l-wrap {
		margin: 0 15px;
	}
	.contacts-map__icons-item{
		img{
			max-width: 120px;
		}
	}
	.footer-wrap__item--socials{
		flex-flow: column wrap;
	}
	.footer-wrap__item--links .footer-wrap__item-link p {
		font-size: 22px;
	}
	.footer-wrap__item--links .footer-wrap__item-link a {
		font-size: 14px;
	}
	.footer-wrap__item--socials a span {
		font-size: 14px;
		margin-left: 10px;
	}
	.footer-wrap__item--socials a img {
		max-width: 20px;
		height: 20px;
	}
	.contacts-map iframe {
		height: 300px;
	}
}
@media screen and (max-width: 991px) {
	.welcome-dishes {
		max-width: 559px;
	}
	.food-wrap__img {
		flex: 0 0 325px;
		position: relative;
	}
	.food-wrap-text__title, .restaurant-wrap-text__title {
		font-size: 28px;
		padding-bottom: 20px;
	}
	.restaurant-wrap-slider {
		flex: 0 0 330px;
		max-width: 330px;
	}
	.restaurant-wrap-text__description{
		padding: 0;
	}
	.header-wrap__navigation li {
		margin-right: 60px;
	}
	.header-wrap__links-call .btn {
		font-size: 14px;
	}
	.welcome-dishes__img img {
		max-width: 140px;
	}
	.welcome-dishes__text {
		bottom: 7px;
		font-size: 16px;
	}
	.food-wrap{
		flex-flow: column wrap;
	}
	.food-wrap-text {
		flex: 1 0;
		padding: 20px 0 20px 0;
	}
	.food-wrap-text {
		flex: 1 0;
		padding: 30px 0 20px 0;
	}
	.welcome-dishes {
		max-width: 700px;
	}
	.articles-l__column--second {
		padding-left: 70px;
	}
	.contacts-map__icons-item img {
		max-width: 90px;
	}
	.restaurant-wrap-text {
		flex: 1 0;
		padding-right: 50px;
	}
}

@media screen and (max-width: 767px) {
	.welcome__title {
		font-size: 46px;
	}
	.welcome__description {
		font-size: 18px;
		line-height: 1.1;
		padding: 20px 0 35px;
	}
	.global-title {
		font-size: 40px;
	}
	.global-title__img svg {
		max-width: 38px;
	}
	.global-title__img {
		margin-right: 15px;
		display: flex;
	}
	.food-title {
		padding: 50px 0 30px 0;
	}
	.food-wrap__img img {
		border-radius: 12px;
		width: 100%;
		height: 250px;
		object-fit: cover;
	}
	.food-wrap__img {
		flex: 0 0 100%;
	}
	.restaurant-wrap-slider {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.restaurant-wrap-slider-init__img img {
		width: 100%;
		height: 250px;
		object-fit: cover;
	}
	.restaurant-wrap-slider::before {
		bottom: 10px;
		right: 10px;
	}
	.restaurant-wrap-text {
		flex: 1 0;
		padding: 0 50px 30px 0;
	}
	.articles-l-wrap {
		display: block;
	}
	.articles-l__column--second {
		padding-left: 0;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.articles-l__column--first {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.articles-l__column--second {
		margin-top: 0;
	}
	.contacts-map {
		padding: 5px;
		border: 2px solid #e44716;
		border-radius: 12px;
	}
	.contacts-map__icons-item img {
		max-width: 60px;
	}
	.footer-wrap {
		flex-flow: column wrap;
		align-items: center;
	}
	.footer-wrap__item--logo {
		flex: 0 0 100%;
		max-width: 100%;
		text-align: center;
		order: -1;
	}
	.footer-wrap__item--links {
		flex: 0 0 100%;
		max-width: 100%;
		margin: 20px 0;
	}
	.footer-wrap__item--socials {
		flex: 0 0 100%;
		max-width: 100%;
		flex-flow: row wrap;
		justify-content: center;
	}
	.footer-wrap__item--links .footer-wrap__item-link {
		padding: 0 22px;
	}
	.articles-l__column--second .articles-l__item-img::before {
		right: 15px;
	}
}
@media screen and (max-width: 479px) {
	.welcome__title {
		font-size: 32px;
	}
	.welcome__description {
		font-size: 17px;
	}
	.welcome-dishes {
		padding-top: 40px;
	}
	.welcome {
		padding: 105px 0 60px;
	}
	.welcome-dishes__img img {
		max-width: 105px;
	}
	.welcome-dishes__text {
		font-size: 15px;
	}
	.food-title {
		padding: 20px 0 10px 0;
	}
	.food-wrap__img img {
		height: 200px;
	}
	.food-wrap-text__description, .restaurant-wrap-text__description {
		font-size: 17px;
	}
	.global-title {
		font-size: 35px;
	}
	.restaurant-wrap-slider-init__img img {
		width: 100%;
		height: 200px;
	}
	.restaurant-wrap-slider::before {
		bottom: 18px;
		right: 10px;
	}
	.articles-l__item-text {
		font-size: 20px;
	}
}